// header style

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 33px;
}

.header__navbar  button {
  width: 82px;
  height: 39px;
  background: none;
  border: none;
}

.header__navbar span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
}